// Set fonts sizes
$style: (
   $body-margin: 10px,
   $div-margin: 15px
);

@mixin set-margin($element, $property) {
   #{$element} {
      margin-left: map-get($styles, $property);
      margin-right: map-get($styles, $property);
   }
}
   
@include set-margin('body', $body-margin);
@include set-margin('div', $div-margin);
