// Working with mixins
$body-margin: 10px;
$div-margin: 15px;

@mixin body-margin {
   margin-right: $body-margin;
   margin-left: $body-margin;
}

@mixin div-margin {
   margin-right: $div-margin;
   margin-left: $div-margin;
}

body {
   @include body-marg;
}

div {
   @include div-margin;
}
