// Extend sass file
// $font-size: 12px;
// $green-color: #00ff00;
// $red-color: #ff0000;

.info {
    font-size: 12;
}

.success {
    color: $green-color;
    @extend .info;
}

.warning {
    color: $red-color;
    @extend .info;
}
